<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.keepcoding.advanceduiplayground">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.keepcoding.customviews.CustomViewsActivity" />
        <activity android:name="io.keepcoding.animations.ValueAnimatorActivity" />
        <activity android:name="io.keepcoding.animations.SequenceAnimationsActivity" />
        <activity android:name="io.keepcoding.motionlayout.MotionLayoutActivity" />
        <activity android:name="io.keepcoding.animations.LayoutTransitionsActivity" />
        <activity android:name="io.keepcoding.animations.DrawablesActivity" />
        <activity android:name="io.keepcoding.animations.ActivityTransitionsActivity" />
        <activity android:name="io.keepcoding.animations.SharedElementActivity" />
        <activity android:name="io.keepcoding.animations.TransitionActivity" />
    </application>

</manifest>